.footer {
  padding: 0.5rem;
  background-color: $color-dark;
  color: $color-primary;
  display: flex;
  flex-direction: column-reverse;

  &__container {
    @include desktop {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__socials {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;

    &__icon {
      color: $color-primary;

      @include desktop {
        margin-left: 2rem;
      }

      &:hover, &:active {
        color: $color-hover;
      }
    }
  }
}