.pricing {
  padding: 6rem 1rem;

  &__title {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding-bottom: 0.5rem;

    @include desktop {
      padding-bottom: 3rem;
    }
  }

  &__cards {
    @include desktop {
      display: flex;
    }
  }

  &__card {
    margin: 2rem 0;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-accent;
    background-blend-mode: overlay;
    color: white;
    text-transform: uppercase;
    border: 0.5rem solid $color-primary;

    @include desktop {
      width: 33%;
      margin: 0.5rem;
    }

    &__title {
      font-size: 2rem;
      text-align: center;

    }

    &__price {
      font-size: 2.5rem;
    }
  }
}