*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  font-size: 1rem;
  background-color: $color-light;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 0.8rem;
}

.breakline {
  height: 0.5rem;
  width: 40%;
  background-color: $color-accent;
  margin: 0 auto;

  @include desktop {
    width: 20%;
    margin: 3rem auto;
  }
}

html {
  @include desktop {
    scroll-behavior: smooth;
  }
}